.container{
          max-width: 1140px;
          margin: 0 auto;
}
header{
    background-image:url('../style/Hero-bg.png') ;
    height: 698px;
    
    margin-top: none;
}


nav{
    border: none;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    font-family: fantasy;
    color: #4E47FF;
   
}
nav h2{
    font-weight: bolder;
}
nav button{
           width: 95px;
           height: 40px;
           background-color: #4E47FF;
           color: white;
           border: none;
           border-radius: 8px;
           font-family:fantasy ;
}
div h1{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    font-family:sans-serif;
}
 .center-button{
    padding-left: 900px;
    
 }
 div button{
    background-color: #4E47FF;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-family: fantasy;
 }
 .text-align{
    padding-top: 150px;
 }


.action-container{
   display: flex;
    justify-content: space-between;
    GAP:auto;
    padding:50px 150px;
    font-size: 1.5em;
    font-family:fantasy;

 }

 .action-banner{
    border-radius: 25px;
 }
 

 .second{
   padding: 15px 5px;
   background-color: #dddcf9;width: 1140px;
   border-radius: 20px;
   
   margin: 15px auto;
 

   }

  .second h2{
   text-align: center;
   font-family: fantasy;
   font-size: 2.5em;
  }
 .number{
   display: flex;
   justify-content: space-around;
   
 }
 
 .number h1{
   color: #4E47FF;
   font-size: 4em;
 }
 .number p{
   color: rgb(65, 65, 65);
   font-size: 2em;
   
 }
 
 
 .user-profile{
   border-radius: 50%;
 }
 .viwers{
   margin-top: 10px;
   display: flex;
   gap: 24px;
  justify-content: space-between;
   
 }
 .feedback{
   padding: 20px;
   box-shadow:0px 6px 50px 0px rgb(233, 233, 233);
 }
 .third-section{
   background-color: #f8f6f3;
   border-radius: 8px;
   text-align: center;
   margin:0 350px;
 }
 .third-section h1{
   font-family: fantasy;
   font-size: 2.5em;
 }
.third-section button{
   background-color: #4E47FF;
   color:white;
   width: 180px;
   height: 35px;
   border-radius: 10px;
   
}
.wc-big{
   border-radius: 50px;
}
label,textarea{
   display: block;
   border-radius: 8px;
   padding: 10px;
   border: none;
}
textarea{
   background-color: #f8f6f3;
}
.form-title{
   font-family: fantasy;
   font-weight: bold;
   font-size: 6em;
   padding-left: 150px;
   padding-top:100px ;
   padding-bottom: 200px;
}
.form-container{
   display: flex;
   justify-content: space-between;
   padding: 150px;
}
form{
   flex-direction: column;
   gap: 15px;
   padding-top: 71px;
   padding-bottom: 71px;
}
input{
   padding:15px 200px 15px 5px;
   border: none;
   background-color: #f8f6f3;
   border-radius: 10px;
}
.submit{
   background-color: #4E47FF;
   color: white;
   padding:20px 165px;
   border-radius: 10px;
}

.pera-align{
   text-align: center;
}

footer{
   width: 550px;
   align-items: center;
   margin: 0 auto;
   background-color: #f8f6f3;
   width: 100%;
  }
.footer-item{
   display: flex;
   justify-content: space-around;
}
footer h1{
   color:#4E47FF;
}
.pera-align, .footer-item{
color: #8987A1;
}